.level-tag{
  width: 50px;
  height: 22px;
  font-size: 12px;
  background-color: #4fcaad;
  color: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.other-tag{
  width: 70px;
  height: 22px;
  font-size: 12px;
  background-color: #fff0f3;
  color: #ee5c69;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}