.header-box{
  display: grid;
  justify-items: center;
  background-color: #ffffff;
}
.pageone-main-grey-box{
  height: 5px;
  width: 100%;
  background-color: #F5F5F5;
}
.no-data-box{
  margin-top: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.no-data-box img{
  width: 80%; 
}