<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>云游江西</title>
  <!-- vue组件样式引入 -->
  <link rel="stylesheet" href="../source/css/vant.css">
  <!-- 页面样式 -->
  <link rel="stylesheet" href="../source/css/index.css">
</head>
<body>
  <div id="app">
    <router-view></router-view>
  </div>

<!-- vue组件script引入 -->
<script src="../source/js/vue.js"></script>
<script src="../source/js/vue-router.js"></script>
<script src="../source/js/vant.min.js"></script>

<!-- jslinq 组件引入 -->
<script src="../source/js/JSLINQ.js"></script>

<!-- components 组件引入 -->
<script src="../source/js/components/baseGoBack.js"></script>
<script src="../source/js/components/search.js"></script>
<script src="../source/js/components/hotelNav.js"></script>
<script src="../source/js/components/hotelCard.js"></script>
<script src="../source/js/components/imgSwipe.js"></script>
<script src="../source/js/components/hotelInfoTitle.js"></script>
<script src="../source/js/components/roomCard.js"></script>

<!-- pages 页面引入 -->
<script src="../source/js/pages/allHotel.js"></script>
<script src="../source/js/pages/hotelInfo.js"></script>
<script src="../source/js/pages/searchPage.js"></script>

<!-- controller 文件引入 -->
<script src="../controller/yunyoujxhotel.controller.js"></script>
</body>
</html>